<div class="container">

  <div class="sidebar">
    <form>
      <input type="button" id="btn-atualizar" onClick="trocarTexto()" value="Obter dados" />
    </form>
  </div>

  <div class="content">
    <table id="tabela-impressoras">
      <tr>
        <th>Status</th>
        <th>Fila</th>
        <th>IP</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Toner (%)</th>
        <th>Kit de manuteção (%)</th>
        <th>Unidade de imagem (%)</th>
        <th>Detalhes</th>
      </tr>
    </table>
  </div>

</div>